.niceCheck {
    width: 17px;
    height: 17px;
    display: inline-block;
    cursor: pointer;
    background: url(../img/checkbox-sprite.png);
    overflow: hidden;
}
.niceChecked {
    background-position: 0 -17px;
}
.niceCheck input {
    margin-left: -150px;
}
.niceCheckDisabled {
    background-image: url(../img/checkbox-disabled.png);
}
